.link {
  text-decoration: none;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  max-width: 100%;
  box-sizing: border-box;
}

.link-text {
  width: max-content;
  position: relative;
}

.link-text span {
  background: linear-gradient(to right, #cf5151, #9d548a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-text::after {
  content: "";
  position: absolute;
  height: 40%;
  width: 0;
  background: linear-gradient(to right, #cf5151, #9d548a);
  opacity: 0.3;
  right: -5px;
  bottom: 0;
  transition: 0.3s;
}

.link-text:hover::after {
  width: 75%;
}

.link-fill {
  width: max-content;
  border-radius: 2rem;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #cf5151, #9d548a);
  color: white;
  box-shadow: 0 0 5px 0 transparent;
}

.link-fill:hover {
  box-shadow: 0 0 5px 0 rgba(207, 81, 81, 1);
  color: white;
}

@media screen and (min-width: $md) {
  .link {
    font-size: 1.2rem;
  }
}

button.link {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.link-outline {
  margin: 0 !important;
  margin-right: 0.5rem !important;
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 2rem;
  color: var(--primary-color);
  font-weight: normal;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-radius: 2rem;
  }

  &:hover {
    color: var(--light-color);

    &::before {
      left: 0;
    }
  }
}
