@import 'sizes';

.modal-open {
  overflow-y: hidden;
  height: 100vh;
}

.fullscreen {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  margin-top: 15vh;
  margin-bottom: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $lg) {
    margin-top: 30vh;
  }

  section {
    margin: 2rem 0;
    max-width: 100%;
    box-sizing: border-box;

    .full-width {
      width: 100%;
    }
  }
}

.img-text-section {
  .picture-container {
    @media screen and (max-width: $md) {
      width: calc(100% + 2rem);
      margin: -1rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (min-width: $md) {
  .img-text-section {
    .picture-container {
      width: 50%;
      margin-inline: auto;

      img {
        box-shadow: -20px 20px 0px 0px var(--primary-color);
      }
    }
  }
}

@media screen and (min-width: $md) {
  .img-text-section {
    margin: 5rem 0 !important;

    .content-container {
      width: 75%;
    }

    .picture-container {
      height: 75%;
      width: 75%;
    }
  }
}