h1 {
  font-weight: $fw_black;
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-weight: $fw_black;
  font-size: 2rem;
  line-height: 3rem;
}

h3 {
  font-weight: $fw_black;
  font-size: 2rem;
  line-height: 3rem;
}

@media screen and (min-width: $md) {
  h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media screen and (min-width: $lg) {
  h1 {
    font-size: 3.5rem;
    line-height: 5rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: $xl) {
  h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: $xxl) {
  h1 {
    font-size: 6rem;
    line-height: 7rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

