@import "sizes";

// FONT WEIGHT
.fw_light {
  font-weight: var(--fw-light);
}

.fw_regular {
  font-weight: var(--fw-regular);
}

.fw_medium {
  font-weight: var(--fw-medium);
}

.fw_bold {
  font-weight: var(--fw-bold);
}

// FONT SIZE
.text_xs {
  font-size: var(--text-xs);
  line-height: 1.125rem;
}

.text_sm {
  font-size: var(--text-sm);
  line-height: 1.25rem;
}

.text_md {
  font-size: var(--text-md);
  line-height: 1.5rem;
}

.text_lg {
  font-size: var(--text-lg);
  line-height: 1.75rem;
}

.text_xl {
  font-size: var(--text-xl);
  line-height: 1.875rem;
}

.text_2xl {
  font-size: var(--text-2xl);
  line-height: 2rem;
}

// COLORS
.color_primary {
  color: var(--primary-color);
}

.color_secondary {
  color: var(--secondary-color);
}

.color_light {
  color: var(--light-color);
}

// TAGS
body {
  font-size: var(--text-md);
  line-height: 2rem;

  @media screen and (min-width: $lg) {
    font-size: var(--text-xl);
  }
}

p {
  margin: 2rem 0;
}

strong {
  font-weight: var(--fw-bold);
}

ul:not(.nav-links > ul) {
  margin: 2rem 0 2rem 1.5rem;
  text-align: left;
  list-style-type: unset;
}

.nowrap {
  white-space: nowrap;
}
