// COLORS
$primary_color: #D16666;
$secondary_color: #9D548A;
$light_color: #FCFAE8;
$success_color: #008F28;

$alpha_25_primary_color: rgba(209, 102, 102, .25);
$alpha_50_primary_color: rgba(209, 102, 102, .5);
$alpha_75_primary_color: rgba(209, 102, 102, .75);

// FONT SIZE
$text_xs: 0.75rem;
$text_sm: 0.875rem;
$text_md: 1rem;
$text_lg: 1.125rem;
$text_xl: 1.25rem;
$text_2xl: 1.5rem;

// FONT WEIGHT
$fw_light: 300;
$fw_regular: 400;
$fw_medium: 500;
$fw_bold: 700;
$fw_black: 800;

// SIZES
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
