:root {
    // COLORS
    --primary-color: #D16666;
    --secondary-color: #9D548A;
    --light-color: #FCFAE8;
    --success-color: #008F28;

    --alpha-25-primary-color: rgba(209, 102, 102, .25);
    --alpha-50-primary-color: rgba(209, 102, 102, .5);
    --alpha-75-primary-color: rgba(209, 102, 102, .75);

    // FONT SIZE
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;

    // FONT WEIGHT
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 800;
}