@import "reset";
@import "variables";
@import "fonts";
@import "typo";
@import "background";
@import "sections";
@import "links";
@import "titles";
@import 'components/index';
@import 'pages/index';
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-utilities";

html,
body {
  font-family: var(--primary-font)  !important;
  color: var(--primary-color);
  overflow-x: hidden;
}

.app-container {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}
