<app-content-layout pageTitle="Qui suis-je ?">
  <section
    class="p-3 img-text-section d-md-flex flex-column flex-lg-row-reverse align-items-stretch"
  >
    <div
      class="col-12 col-lg-8 d-lg-flex justify-content-center align-items-center"
    >
      <div class="content-container">
        <h2>Anne AVENEL DUBOIS</h2>
        <p>
          Enseignante en école élémentaire pendant 20 ans, j'ai souhaité quitter
          l'Education Nationale pour accompagner autrement les enfants et leurs
          parents.
        </p>
        <p>
          Ayant à cœur d'améliorer le bien-être de la famille, j'ai suivi une
          formation en sophrologie, complétée par une spécialisation "Enfance" à
          l'Institut de Formation en Sophrologie de Catherine Aliotta
          (Paris&nbsp;X).
        </p>
        <p>
          Je suis certifiée RNCP (Répertoire National de la Certification
          Professionnelle), certification professionnelle dont le niveau de
          qualification est reconnu par l'Etat. Je suis également membre de la
          Chambre Syndicale de Sophrologie.
        </p>
      </div>
    </div>
    <div
      class="col-12 col-lg-4 d-lg-flex justify-content-center align-items-center"
    >
      <div class="mt-5 mt-lg-0 picture-container">
        <img src="/assets/me.jpg" alt="Anne AVENEL DUBOIS" />
      </div>
    </div>
  </section>
  <section>
    <h2>Envie d'en savoir plus ?</h2>
    <p>
      <a
        class="link link-outline my-3 mx-md-3"
        href="/assets/article.pdf"
        target="_blank"
        ><span>Cliquez ici</span></a
      >
      pour lire l'article paru dans Le Bulletin !
    </p>
  </section>
</app-content-layout>
