<app-content-layout title="Mentions légales">
    <section class="p-3 main-section">
        <p>
            <span class="text-decoration-underline fw_bold">Directeur de la publication :</span><br>
            Anne Avenel Dubois est la directrice de la publication de ce site.
        </p>
        <p>
            <span class="text-decoration-underline fw_bold">Identification :</span><br>
            Anne Avenel Dubois<br>
            Sophrologue<br>
            140 rue Sainte-Anne 76 116 SAINT AIGNAN SUR RY<br>
            06 20 81 82 68<br>
            anne.avenel.sophrologie@laposte.net<br>
            Siret : 83196983700010<br>
            APE : 8690F
        </p>
        <p>
            <span class="text-decoration-underline fw_bold">Hébergement :</span><br>
            Anne Avenel Dubois est la directrice de la publication de ce site.
        </p>
        <p>
            <span class="text-decoration-underline fw_bold">Webmaster :</span><br>
            Anne Avenel Dubois est la directrice de la publication de ce site.
        </p>
        <p>
            <span class="text-decoration-underline fw_bold">Informatique et libertés :</span><br>
            Les informations personnelles ne sont collectées que pour le besoin de certains services proposés par le
            site.<br>
            Aucune information personnelle n'est publiée, échangée, vendue ou cédée sur un support quelconque à des
            tiers.<br>
            Conformément à la loi n° 78-A du 6 janvier 1978, vous disposez d'un droit d'accès, de modification ou
            d'opposition pour motif légitime aux données à caractère personnel vous concernant. Vous pouvez exercer vos
            droits en écrivant à l'adresse suivante : Anne Avenel Dubois - 140 rue Sainte-Anne - 76 116 SAINT AIGNAN SUR
            RY

        </p>
        <p>
            <span class="text-decoration-underline fw_bold">Droit à la consommation :</span><br>
            Tout litige en relation avec l'utilisation du site est soumis au droit français, de la compétence des
            tribunaux dont dépend le siège social.
        </p>
    </section>
</app-content-layout>