/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap.scss";

@import "style/reset";
@import "style/variables";
@import "style/fonts";
@import "style/typo";
@import "style/background";
@import "style/sections";
@import "style/links";
@import "style/titles";
@import "style/modal";
// @import 'components/index';
// @import 'pages/index';
// @import "bootstrap/scss/bootstrap-grid";
// @import "bootstrap/scss/bootstrap-utilities";

html,
body {
  font-family: var(--primary-font) !important;
  color: var(--primary-color);
  overflow-x: hidden;
  position: relative;
}
