@import '../../style/sizes';

:host {
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    a {
        color: var(--primary-color);
        margin-inline: 1rem;
    }
}

@media screen and (min-width: $md){
    :host {
        position: absolute;
        bottom: 25px;
    }
}