<nav>
    <input type="checkbox" name="nav_toggle" id="nav_toggle" class="nav-toggle" #close>
    <label for="nav_toggle" class="nav-toggle-label">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <ul class="nav-links">
        <li class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a
                routerLink="/">Accueil</a></li>
        <li class="nav-link" routerLinkActive="active"><a routerLink="/sophrologie">Sophrologie</a></li>
        <li class="nav-link" routerLinkActive="active"><a routerLink="/seances">Déroulement des séances</a></li>
        <li class="nav-link" routerLinkActive="active"><a routerLink="/qui-suis-je">Qui suis-je</a></li>
        <li class="nav-link" routerLinkActive="active"><a routerLink="/tarifs">Tarifs</a></li>
        <li class="nav-link" routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
    </ul>
</nav>