<app-content-layout pageTitle="Sophrologie en entreprise">
  <section class="d-flex flex-column align-items-center">
    <div class="col-lg-8 text-start">
      <p>
        La sophrologie est une méthode <strong>simple</strong> et
        <strong>efficace</strong> pour <strong>prévenir</strong> ou
        <strong>réduire</strong> le <strong>stress</strong>.
      </p>
      <p>
        Elle offre des outils précieux pour faire face aux
        <strong>enjeux du monde professionnel</strong> et dans la
        <strong>prévention des risques psychosociaux</strong> :
      </p>
    </div>
    <div
      class="d-flex flex-column flex-lg-row justify-content-between align-items-center d-block w-100 list-with-img-container"
    >
      <div class="img-container col-12 col-lg-5">
        <img
          src="/assets/entreprise.jpg"
          alt=""
        />
      </div>
      <div class="list-container col-10 col-lg-5">
        <ul>
          <li>
            <strong>Relaxation dynamique</strong>
            <p>
              qui permet de prendre conscience de son corps et reconnaître les
              signes de stress et de fatigue
            </p>
          </li>
          <li>
            <strong>Décontraction musculaire</strong>
            <p>pour relâcher les tensions accumulées</p>
          </li>
          <li>
            <strong>Respiration</strong>
            <p>aide à mieux réguler les émotions</p>
          </li>
          <li>
            <strong>Imagerie mentale</strong>
            <p>
              visualisation d'images agréables, projection mentale pour
              anticiper positivement un événement
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="strong-message col-12 col-lg-8">
      Plus qu'une simple pause détente dans la journée, la sophrologie est une
      démarche <strong>durable</strong> et <strong>profonde</strong>.
    </div>
  </section>
  <section class="full-width">
    <div class="columns d-lg-flex justify-content-around">
      <div class="col-lg-4">
        <h2>Les contraintes récurrentes au milieu professionnel</h2>
        <ul>
          <li>Prévenir les risques psychosociaux</li>
          <li>Améliorer l'efficacité et optimiser la performance au travail</li>
          <li>Favoriser la cohésion d'équipe</li>
          <li>Développer la créativité</li>
          <li>Réduire les troubles musculosquelettiques</li>
          <li>
            Mieux gérer les défis professionnels (prise de parole en public,
            changement d'organisation...)
          </li>
          <li>Augmenter la motivation</li>
          <li>Équilibrer vie personnelle et vie professionnelle</li>
          <li>Développer ses capacités et exploiter son potentiel</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h2>Ce que la sophrologie peut vous apporter</h2>
        <ul>
          <li>Augmenter la capacité de concentration</li>
          <li>Réguler les émotions</li>
          <li>Évacuer les tensions</li>
          <li>Renforcer la confiance et l'affirmation de soi</li>
          <li>Réduire le stress et l'anxiété</li>
          <li>Gagner en vitalité, retrouver l'énergie mentale et physique</li>
          <li>
            Se préparer mentalement à un événement (anticiper positivement une
            situation stressante)
          </li>
          <li>Soulager les douleurs</li>
          <li>Accroitre le calme et la sérénité</li>
        </ul>
      </div>
    </div>
    <div class="link-container">
      <a
        class="link link-outline mx-md-3"
        href="/assets/brochure-entreprises.pdf"
        target="_blank"
      >
        <span>Téléchargez la brochure</span>
      </a>
    </div>
  </section>
  <section>
    <h2 class="text-start">Modalités d'intervention</h2>
    <p class="text-start">
      Après quelques échanges pour définir <strong>vos attentes</strong> ainsi
      que les besoins de <strong>vos salariés</strong>, je crée un protocole
      <strong>sur mesure</strong>. L'accompagnement (nombre de séances,
      fréquence, durée...) est alors adapté à l'objectif visé.
    </p>
    <div>
      <div
        class="proposition-container d-flex justify-content-between flex-column flex-lg-row"
      >
        <div class="col-lg-5 d-flex flex-column">
          <span class="heading"> Propositions d'intervention : </span>
          <ul>
            <li>
              <strong>Séances collectives (8 à 12 personnes)</strong>
            </li>
            <li>
              <p>
                <strong>Consultations individuelles</strong> (Accompagnement
                personnalisé concernant un besoin précis)
              </p>
              <p class="subtext">
                Une séance collective ou individuelle dure environ 1 heure. Ce
                temps est adaptable aux contraintes de l'entreprise.
              </p>
            </li>
            <li>
              <p>
                <strong>Séances de "pause"</strong> (Recharger rapidement les
                batteries et retrouver son énergie)
              </p>
              <p class="subtext">
                Une séance de pause dure environ 20 minutes.
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-5 d-flex justify-content-center align-items-center">
          <div class="quote-container d-flex flex-column">
            <strong>Prêt à vous laisser tenter ?</strong>
            <a class="link link-outline mx-md-3" href="/contact">
              <span>Réalisons un devis</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-content-layout>
