<div class="title-container">
  <h1 class="text-uppercase">La<br />sophrologie<br />pas à pas</h1>
</div>
<div class="picture-container">
  <img src="/assets/home.jpg" alt="Femme marchant sur la plage" />
  <div class="picture-overlay d-lg-none"></div>
</div>
<div
  class="content-container my-5 d-lg-flex flex-lg-column align-items-lg-center"
>
  <div class="info-container">
    <h2>Anne AVENEL DUBOIS</h2>
    <span class="d-block info-job my-3">Sophrologue</span>
    <span class="d-block info-certified">(certifiée RNCP)</span>
  </div>
  <div class="links my-5">
    <a routerLink="qui-suis-je" class="link link-text my-3 my-lg-0 mx-lg-3">
      <span>Qui suis-je ?</span>
    </a>
    <a routerLink="contact" class="link link-fill">
      <span>Me contacter</span>
    </a>
  </div>
</div>
