<app-content-layout title="Politique de confidentialité">
    <section class="p-3 main-section">
        <p>Nous sommes engagés à protéger la confidentialité des données personnelles que nous collectons à travers
            notre site web.</p>
        <p>Le formulaire de contact disponible sur notre site web collecte les informations que vous fournissez
            volontairement, telles que votre nom complet, votre adresse e-mail, le sujet de votre message et votre
            message lui-même. Nous utilisons ces informations uniquement pour répondre à votre demande et vous
            contacter, et nous ne les partageons pas avec des tiers sans votre autorisation préalable.</p>
        <p>Nous n'utilisons pas de cookies, sauf pour activer le service reCAPTCHA Enterprise fourni par Google pour
            protéger notre formulaire de contact contre les abus et les soumissions automatisées. Pour utiliser notre
            formulaire de contact, vous devez autoriser l'utilisation de cookies via notre solution Axios. Si vous
            n'autorisez pas l'utilisation de cookies, vous ne pourrez pas utiliser le formulaire de contact sur notre
            site web.</p>
        <p>Nous ne collectons pas d'informations personnelles à votre sujet à moins que vous ne nous les fournissiez
            volontairement, et nous ne collectons pas non plus d'informations de navigation ou d'utilisation de manière
            automatique.</p>
        <p>Nous prenons des mesures de sécurité raisonnables pour protéger les données personnelles que nous collectons,
            stockons et traitons, y compris l'utilisation de protocoles de sécurité standard et de mesures techniques et
            organisationnelles appropriées pour protéger les données contre l'accès non autorisé, la divulgation,
            l'altération ou la destruction.</p>
        <p>Nous ne conservons vos données personnelles que pendant la durée nécessaire pour répondre à votre demande ou
            pour la durée autorisée par les lois et réglementations applicables. Après cela, nous supprimons vos données
            personnelles de nos systèmes.</p>
        <p>En utilisant notre site web et en nous fournissant des informations personnelles, vous consentez à la
            collecte, l'utilisation et le traitement de vos données personnelles conformément aux termes de cette
            politique de confidentialité. Nous ne sommes pas responsables des pratiques de confidentialité ou du contenu
            de sites web tiers.</p>
        <p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité ou si vous
            souhaitez accéder, corriger ou supprimer les données personnelles que nous avons collectées, veuillez nous
            contacter à l'adresse <a
                href="mailto:christophe.chichmanian@outlook.com">christophe.chichmanian@outlook.com</a>.</p>
    </section>
</app-content-layout>