<app-content-layout title="La sophrologie">
    <section class="p-3 main-section">
        <p>
            La sophrologie a été créée en 1960 par Alfonso <strong>Caycédo</strong>, neuropsychiatre.<br>
            Initialement conçue pour soulager la douleur, elle est aujourd'hui utilisée comme technique de
            <strong>développement personnel</strong>.<br>
            La sophrologie part du principe que toute action positive sur le corps ou sur le mental se répercute sur
            l'être tout entier.<br>
            C'est une thérapie douce, basée sur l'<strong>écoute de ses ressentis</strong>, qui travaille sur le
            <strong>mental</strong> et sur le <strong>corps</strong>.
        </p>
        <p>
            Cette méthode permet de <strong>développer son propre potentiel pour retrouver un bien-être au
                quotidien</strong>.
            Elle permet de mieux se comprendre, d'être à l'<strong>écoute de ses besoins</strong>. Elle facilite la
            <strong>gestion des émotions</strong>, aide à prendre <strong>confiance</strong> en son potentiel, le
            développer et l'utiliser pleinement dans son quotidien. Elle contribue à l'<strong>amélioration de la
                qualité de vie</strong> de chacun en fournissant des outils pour modifier le regard que l'on porte sur
            soi et sur son environnement.
        </p>
        <p>
            Elle s'inspire de techniques occidentales (Jacobson, Schultz, Erikson, ...) et orientales (yoga, zen,
            méditation...) et travaille à la fois sur la <strong>respiration contrôlée</strong>, la <strong>détente
                musculaire</strong> et les <strong>images positives</strong>.
        </p>
        <p>
            Sa pratique est très simple et s'adapte aux contraintes de la vie quotidienne.
            Elle développe l'<strong>autonomie</strong> en incitant à pratiquer par soi-même les méthodes apprises.
        </p>
    </section>
    <section class="w-100 who-section mb-0 mb-lg-5">
        <div class="picture-container">
            <img src="/assets/sophrologie.jpg" alt="Deux arbres éclairés par le Soleil">
        </div>
        <div class="who-content color_light">
            <h2 class="text-uppercase">Pour qui ?</h2>
            <p>
                La sophrologie s'adresse à tous : <strong>enfants, adolescents, adultes, séniors</strong>. Elle s'adapte
                à chacun, grâce à un <strong>protocole d'accompagnement personnalisé</strong>.<br>
                Elle ne présente pas de contre-indications et ne nécessite aucune aptitude physique particulière. La
                sophrologie vient parfaitement <strong>compléter un traitement médical ou une psychothérapie</strong>
                mais ne les remplace en aucun cas.
            </p>
        </div>
    </section>
    <section class="why-section w-100">
        <div class="why-content">
            <h2 class="text-uppercase">Pour quoi ?</h2>
            <p>Les applications de la sophrologie sont nombreuses :</p>
            <span class="fw_bold why-header">Retrouver le bien-être</span>
            <ul>
                <li>Vivre <strong>sereinement</strong> le <strong>moment présent</strong></li>
                <li><strong>Lâcher prise</strong>, prendre du recul</li>
                <li>Retrouver un <strong>sommeil</strong> réparateur</li>
                <li>Améliorer la <strong>respiration</strong>, développer la <strong>vitalité</strong></li>
            </ul>
            <span class="fw_bold why-header">Développer ses capacités</span>
            <ul>
                <li>Se préparer à un <strong>événement</strong> : entretien, prise de parole en public, permis de
                    conduire, compétition sportive, acte médical ...</li>
                <li>Accroitre la <strong>confiance en soi</strong>, l'estime de soi</li>
                <li>Renforcer la <strong>concentration</strong>, optimiser les <strong>apprentissages</strong></li>
            </ul>
            <span class="fw_bold why-header">Mieux vivre au quotidien</span>
            <ul>
                <li>Gérer les <strong>émotions</strong>, surmonter le <strong>stress</strong>,
                    l'<strong>anxiété</strong></li>
                <li>Accompagner la <strong>maladie</strong>, soulager la <strong>douleur</strong></li>
                <li>Aider à gérer une <strong>phobie</strong> ou une <strong>pulsion</strong></li>
            </ul>

            <img src="/assets/sophrologie2.jpg" class="d-none d-lg-block">
        </div>

        <div class="py-5 m-lg-auto text-lg-center">
            <span class="d-block mb-4">Cela vous concerne ?</span>
            <a routerLink="/contact" class="link link-fill">Me contacter</a>
        </div>
    </section>
</app-content-layout>