// FONT WEIGHT
.fw_light {
  font-weight: $fw_light;
}

.fw_regular {
  font-weight: $fw_regular;
}

.fw_medium {
  font-weight: $fw_medium;
}

.fw_bold {
  font-weight: $fw_bold;
}

// FONT SIZE
.text_xs {
  font-size: $text_xs;
  line-height: 1.125rem;
}

.text_sm {
  font-size: $text_sm;
  line-height: 1.25rem;
}

.text_md {
  font-size: $text_md;
  line-height: 1.5rem;
}

.text_lg {
  font-size: $text_lg;
  line-height: 1.75rem;
}

.text_xl {
  font-size: $text_xl;
  line-height: 1.875rem;
}

.text_2xl {
  font-size: $text_2xl;
  line-height: 2rem;
}
