// COLORS
$dark_terra_cotta: #CF5151;
$antique_fuchsia: #9D548A;
$cosmic_latte: #FCFAE8;

// FONT SIZE
$text_xs: 0.75rem;
$text_sm: 0.875rem;
$text_md: 1rem;
$text_lg: 1.125rem;
$text_xl: 1.25rem;
$text_2xl: 1.5rem;

// FONT WEIGHT
$fw_light: 300;
$fw_regular: 400;
$fw_medium: 500;
$fw_bold: 700;

// SIZES
$desktop: 992px;
