@import "reset";
@import "variables";
@import "fonts";
@import "typo";
@import "background";
@import "components/navbar";
@import "components/footer";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-utilities";

html,
body {
  font-family: $primary-font  !important;
  color: $dark_terra_cotta;
  overflow-x: hidden;
}

.app-container {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}
