<app-content-layout pageTitle="Me contacter">
    <section class="p-3 form-section">
        <form [formGroup]="contactForm" (submit)="submit()">
            <div class="row">
                <div class="form-group col-12 col-lg-6">
                    <label for="name" class="d-block text_lg text-start mt-3 mb-2 text-uppercase">Nom</label>
                    <input type="text" name="name" id="name" class="text-lg" formControlName="name">
                    <ng-container *ngIf="(name?.touched || name?.dirty)">
                        <label for="name" class="d-block mt-1 text_md fst-italic text-start mb-2"
                            *ngIf="name?.hasError('required')">Le nom est requis</label>
                    </ng-container>
                </div>
                <div class="form-group col-12 col-lg-6">
                    <label for="email" class="d-block text_lg text-start mt-3 mb-2 text-uppercase">Email</label>
                    <input type="email" name="email" id="email" class="text-lg" formControlName="email">
                    <ng-container *ngIf="(email?.touched || email?.dirty)">
                        <label for="email" class="d-block mt-1 text_md fst-italic text-start mb-2"
                            *ngIf="email?.hasError('required')">L'adresse mail est
                            requise</label>
                        <label for="email" class="d-block mt-1 text_md fst-italic text-start mb-2"
                            *ngIf="email?.hasError('email')">L'adresse mail est
                            invalide</label>
                    </ng-container>
                </div>
            </div>
            <div class="form-group">
                <label for="subject" class="d-block text_lg text-start mt-3 mb-2 text-uppercase">Sujet</label>
                <input type="text" name="subject" id="subject" class="text-lg" formControlName="subject">
                <ng-container *ngIf="(subject?.touched || subject?.dirty)">
                    <label for="subject" class="d-block mt-1 text_md fst-italic text-start mb-2"
                        *ngIf="subject?.hasError('required')">Le sujet est
                        requis</label>
                </ng-container>
            </div>
            <div class="form-group">
                <label for="message" class="d-block text_lg text-start mt-3 mb-2 text-uppercase">Message</label>
                <textarea name="message" id="message" class="text-lg" rows="10" formControlName="message"></textarea>
                <ng-container *ngIf="(message?.touched || message?.dirty)">
                    <label for="message" class="d-block text_md fst-italic text-start mb-2"
                        *ngIf="message?.hasError('required')">Le message est
                        requis</label>
                </ng-container>
            </div>
            <div class="form-group mt-2 mt-lg-4">
                <button *ngIf="isEnabled; else cookiesMessage" type="submit" class="fw_bold text_lg text-uppercase"
                    [disabled]="isSending">
                    Envoyer
                </button>
                <ng-template #cookiesMessage>
                    <span>Veuillez accepter les cookies avant d'utiliser le formulaire de contact.</span>
                </ng-template>
            </div>
        </form>
    </section>
    <section class="info-section">
        <div class="p-4 info-container">
            <div>
                <div>
                    <span class="fw_bold text_xl">Adresse</span>
                    <p>
                        140 Rue Sainte-Anne<br>
                        76 116 SAINT AIGNAN SUR RY
                    </p>
                </div>
            </div>
            <div class="my-4 my-lg-0">
                <div>
                    <span class="fw_bold text_xl">Téléphone</span>
                    <p>06 20 81 82 68</p>
                </div>
            </div>
            <div>
                <div>
                    <span class="fw_bold text_xl">Email</span>
                    <p>anne.avenel.sophrologie@laposte.net</p>
                </div>
            </div>
        </div>
        <div id="map" class="map w-100"></div>
    </section>
</app-content-layout>