{% apply inline_css %}
    <style>
        body {
            padding: 3rem;
            margin: 3rem;
            background: #FCFAE8;
            color: #D16666;
        }

        span {
            font-weight: bold;
            text-decoration: underline;
        }
    </style>
{% endapply %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>Document</title>
</head>
<body>
    <h1>Message reçu</h1>

    <p>
        <span>Nom :</span> {{ message.name }}<br>
        <span>Email :</span> {{ message.email }}
    </p>
    <p>
        <span>Sujet :</span> {{ message.subject }}<br>
        <span>Message :</span><br>
        {{ message.message|nl2br }}
    </p>
</body>
</html>
