{% extends 'split_layout.html.twig' %}

{% block title %}Qui suis-je ? | Anne Avenel Dubois | Saint-Aignan-Sur-Ry{% endblock %}

{% block content_title %}Qui suis-je ?{% endblock %}

{% block image %}
    <img src="{{ asset('build/images/me.jpg') }}" alt="">
{% endblock %}

{% block content %}
    <section class="p-5 who-am-i-section">
        <p>
            Enseignante en école élémentaire pendant 20 ans, j'ai souhaité quitter l'Education Nationale pour accompagner autrement les enfants et leurs parents.
        </p>
        <p>
            Ayant à cœur d'améliorer le bien-être de la famille, j'ai suivi une formation en sophrologie, complétée par une spécialisation "Enfance" à l'Institut de Formation en Sophrologie de Catherine Aliotta (Paris X).
        </p>
        <p>
            Je suis certifiée RNCP (Répertoire National de la Certification Professionnelle), certification professionnelle dont le niveau de qualification est reconnu par l'Etat. Je suis également membre de la Chambre Syndicale de Sophrologie.
        </p>
    </section>
{% endblock %}
