{% extends 'base.html.twig' %}

{% block layout %}split-layout{% endblock %}

{% block body %}
    <div class="split-layout">
        <div class="image-container">
            {% block image %}{% endblock %}
            <div class="picture-overlay d-lg-none"></div>
        </div>
        <div class="main-container text-center">
            <h1 class="text-uppercase">{% block content_title %}{% endblock %}</h1>

            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
