<app-content-layout pageTitle="Sophrologie pour les séniors">
  <section
    class="p-3 img-text-section d-md-flex flex-column flex-lg-row-reverse align-items-stretch"
  >
    <div
      class="col-12 col-lg-5 d-lg-flex justify-content-center align-items-center"
    >
      <div class="content-container text-start">
        <p>
          La sophrologie propose des <strong>exercices simples</strong> et des
          <strong>mouvements doux</strong> pour améliorer la
          <strong>qualité de vie</strong> des personnes âgées.
        </p>
        <p>
          Ses outils (relaxation musculaire, respiration, visualisation)
          apportent de <strong>nombreux bienfaits</strong> permettant de
          développer le <strong>bien-être physique</strong>,
          <strong>mental</strong> et <strong>émotionnel</strong>, pour une
          meilleure santé globale.
        </p>
      </div>
    </div>
    <div
      class="col-12 col-lg-7 d-lg-flex justify-content-center align-items-center"
    >
      <div class="mt-5 mt-lg-0 picture-container">
        <img src="/assets/seniors.jpg" alt="Anne AVENEL DUBOIS" />
      </div>
    </div>
  </section>

  <section class="d-md-flex flex-column flex-lg-row align-items-stretch">
    <div class="column col-lg-6">
      <article class="physical">
        <strong>Bien-être physique, mental et émotionnel</strong>
        <ul>
          <li>Relâcher les tensions</li>
          <li>Réguler les émotions</li>
          <li>Calmer les pensées anxieuses</li>
          <li>S'apaiser</li>
          <li>Améliorer le sommeil</li>
          <li>
            Cultiver un état d'esprit optimiste et une attitude mentale positive
          </li>
          <li>Retrouver les plaisirs du quotidien et la joie de vivre</li>
          <li>Profiter de l'instant présent</li>
          <li>S'accepter, avoir un regard bienveillant envers soi-même</li>
        </ul>
      </article>
      <article class="sport">
        <strong>Renforcement et maintien</strong>
        <ul>
          <li>Reprendre confiance en son potentiel</li>
          <li>Faire face aux défis du quotidien</li>
          <li>Développer un nouveau regard sur la vie et sur soi-même</li>
        </ul>
      </article>
    </div>
    <div class="column col-lg-6">
      <article class="cognition">
        <strong>Capacités cognitives</strong>
        <ul>
          <li>Favoriser la concentration et l'attention</li>
          <li>Améliorer la mémoire</li>
          <li>Maintenir l'agilité et la flexibilité mentale</li>
        </ul>
      </article>
      <article class="body">
        <strong>Capacités corporelles</strong>
        <ul>
          <li>Améliorer la mobilité et l'équilibre</li>
          <li>Développer la perception physique de son corps</li>
          <li>Soulager les douleurs</li>
          <li>Retrouver vitalité et énergie</li>
          <li>Renforcer ses capacités physiques</li>
        </ul>
      </article>
    </div>
  </section>
  <section>
    <div class="py-5 m-lg-auto text-lg-center">
      <span class="d-block mb-4">Cela vous concerne ?</span>
      <div>
        <a routerLink="/contact" class="link link-fill mx-3">Me contacter</a>
        <a
          href="/assets/brochure-seniors.pdf"
          target="_blank"
          class="link link-text mx-3 mt-4 my-lg-0"
        >
          <span>Télécharger la brochure</span>
        </a>
      </div>
    </div>
  </section>
</app-content-layout>
